/* General reset and body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Container for login box */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="password"] {
    letter-spacing: 1px;
}

small {
    color: red;
    visibility: hidden;
}

/* Login Button */
#login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#login-btn:hover {
    background-color: #45a049;
}

.register {
    margin-top: 20px;
}

.register a {
    color: #4CAF50;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

/* Error message styles */
.input-group.error input {
    border-color: red;
}

.input-group.error small {
    visibility: visible;
}
